body {
  background-color: white;
  color: var(--line-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.heads {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.li {
  list-style-type: none;
  text-decoration: none;
}

label {
  display: block;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

:root {
  --main-text-color: #212121;
  --logo-tex-color: #2196F3;
  --header-color: #FFFFFF;
  --line-text-color: #757575;
  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.logo {
  color: var(--main-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__part {
  color: var(--logo-tex-color);
}

.logo__part--white {
  color: var(--header-color);
}

.header {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  margin-left: 43px;
}

.navigation__link {
  margin-left: 50px;
  position: relative;
}

.navigation__item {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.06px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__item:hover, .navigation__item:focus {
  color: var(--logo-tex-color);
}

.navigation__item--current::after {
  content: '';
  position: absolute;
  bottom: -32px;
  left: 0px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--logo-tex-color);
  border-radius: 4px;
}

.contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.contacts__itam {
  color: var(--line-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 50px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__itam:hover, .contacts__itam:focus {
  color: var(--logo-tex-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon:hover, .contacts__icon:focus {
  fill: currentColor;
}

.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__head {
  color: var(--header-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  color: var(--header-color);
  background-color: var(--logo-tex-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0px;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:focus, .hero__button:focus {
  background-color: #188CE8;
}

.advantages {
  display: flex;
}

.advantages__item {
  width: 270px;
  margin-right: 30px;
}

.advantages__item:last-child {
  padding-right: 0px;
}

.advantages__picture {
  height: 120px;
  width: 270px;
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__icon {
  height: 70px;
  width: 70px;
}

.advantages__head {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
}

.works {
  padding-bottom: 94px;
}

.works__list {
  display: flex;
}

.works__item {
  margin-right: 30px;
  position: relative;
}

.works__item:last-child {
  margin-right: 0px;
}

.works__text {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  color: var(--header-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.workers {
  background-color: #F5F4FA;
}

.workers-list {
  display: flex;
}

.worker {
  margin-left: 30px;
  background-color: var(--header-color);
  border-radius: 4px;
  box-shadow: var(--card-shadow);
  overflow: hidden;
  text-align: center;
}

.worker:first-child {
  margin-left: 0px;
}

.worker__item {
  padding: 30px 32px;
}

.worker__head {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.worker__text {
  padding-bottom: 16px;
}

.worker__media-list {
  display: flex;
}

.worker__media {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worker__media:hover, .worker__media:focus {
  background-color: var(--logo-tex-color);
}

.worker__media-icon {
  fill: #AFB1B8;
  height: 20px;
  width: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worker__media:hover .worker__media-icon,
.worker__media:focus .worker__media-icon {
  fill: var(--header-color);
}

.clients {
  display: flex;
}

.clients__item {
  height: 92px;
  width: 170px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  margin-right: 30px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover, .clients__item:focus {
  border-color: var(--logo-tex-color);
  cursor: pointer;
}

.clients__icon {
  fill: #AFB1B8;
  height: 60px;
  width: 106px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover .clients__icon,
.clients__item:focus .clients__icon {
  fill: var(--logo-tex-color);
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__background {
  background-color: #2F303A;
}

.footer__address {
  color: var(--header-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 20px;
  padding-bottom: 9px;
}

.footer__mail {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-bottom: 9px;
}

.footer__phone {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__section {
  margin-left: 70px;
}

.footer__head {
  color: var(--header-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 12px;
}

.footer__medias {
  display: flex;
}

.footer__media {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__media:hover, .footer__media:focus {
  background-color: var(--logo-tex-color);
}

.footer__media:first-child {
  margin-left: 0px;
}

.footer__icon {
  fill: var(--header-color);
  height: 20px;
  width: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.form__sign {
  display: flex;
}

.form__input {
  height: 50px;
  width: 358px;
  background-color: #2F303A;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  padding-left: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  background-color: var(--logo-tex-color);
  border-radius: 4px;
  height: 50px;
  width: 200px;
  color: var(--header-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0px;
}

.form__button-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  padding: 40px;
  background-color: #FFFFFF;
}

.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 0px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-icon,
.modal__close-button:focus .modal__close-icon {
  fill: var(--logo-tex-color);
}

.modal__head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal__label {
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
}

.modal__form-fild {
  position: relative;
  margin-bottom: 10px;
}

.modal__form-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal__form-fild:hover .modal__form-input,
.modal__form-fild:focus .modal__form-input {
  border-color: var(--logo-tex-color);
}

.modal__form-icon {
  position: absolute;
  top: 29px;
  left: 15px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-fild:hover .modal__form-icon,
.modal__form-fild:focus .modal__form-icon {
  fill: var(--logo-tex-color);
}

.modal__coment {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
  cursor: pointer;
}

.modal__coment:hover, .modal__coment:focus {
  border-color: var(--logo-tex-color);
}

.modal__coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
}

.modal__checkbox {
  font-size: 12px;
  line-height: 1.71;
  margin-bottom: 20px;
}

.modal__label {
  display: flex;
}

.modal__checkbox--conditions {
  color: var(--logo-tex-color);
  text-decoration: underline;
}

.modal__icon-box {
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  position: relative;
  margin-right: 7px;
  margin-left: 10px;
}

.modal__icon-vector {
  position: absolute;
  margin-top: -2px;
  margin-left: -2px;
  fill: none;
}

.modal__checkbox:checked + .modal__icon-box > .modal__icon-vector {
  background-color: #188CE8;
  fill: var(--header-color);
  border-radius: 2px;
}

.modal__checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: -4px;
  color: #757575;
  letter-spacing: 00.03em;
}

.modal__button-form {
  width: 200px;
  height: 50px;
  background-color: var(--logo-tex-color);
  color: var(--header-color);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-left: 120px;
  margin-top: 30px;
  cursor: pointer;
  border: 0;
  box-shadow: var(--card-shadow);
}

.buttons-section {
  padding-top: 94px;
  margin-bottom: 50px;
}

.button-section__list {
  display: flex;
  justify-content: center;
}

.button-section__item {
  color: var(--main-text-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: 0px;
  box-shadow: var(--card-shadow);
  margin-left: 8px;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-section__item:hover, .button-section__item:focus {
  color: var(--header-color);
  background-color: var(--logo-tex-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.box {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover, .box:focus {
  box-shadow: var(--card-shadow);
}

.box:nth-child(3n+1) {
  margin-left: 0px;
}

.box__image {
  position: relative;
  overflow: hidden;
}

.box__item {
  padding: 20px 24px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #ECECEC;
}

.box__head {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.box__text {
  color: var(--line-text-color);
}

/* overly */
.overly-text {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--header-color);
  z-index: 2;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.box:hover .overly-text {
  transform: translateY(0);
}

.box__image::after {
  content: '';
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.box:hover .box__image::after {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */