.clients{
    display: flex;
}

.clients__item{
    height: 92px;
    width: 170px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    margin-right: 30px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
    border-color: var(--logo-tex-color);
    cursor: pointer;

}
}



.clients__icon{
    fill: #AFB1B8;
    height: 60px;
    width: 106px; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .clients__item:hover &,
    .clients__item:focus &{
    fill:var(--logo-tex-color);
    
}
}
